:root {
  --green: #{$green};
  --white: #{$white};
  --black: #{$black};
  --lightGreen: #{$lightGreen};
}

html,
body {
  font-family: "Trebuchet MS", Trebuchet, sans-serif;
  line-height: $lineHeight;
  background-color: $green;
  font-size: $fontSize;

  @media #{$firstBreakpointStr} {
    font-size: $fontSizeFirst;
  }

  @media #{$secondBreakpointStr} {
    font-size: $fontSizeSecond;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 2em;
  font-weight: normal;
}

h1,
h2,
h3,
p {
  &:first-child {
    margin-top: 0;
  }
}

a {
  @include transition(color);
  color: $green;

  &:hover {
    color: $black;
  }
}
