#site-main {
  padding-top: $headerHeightWithPadding;
  background-color: $mainBg;
  display: flex;
  flex-direction: column;

  >h1 {
    @include wrapper();
    text-align: center;
  }

  &:after {
    content: ' ';
    display: inline-block;
  }
}
