section.detail-boxes.section>div.slideshow {
  $h: 20em;

  .box {
    height: $h;
  }

  @media #{$firstBreakpointStr} {
    .box {
      height: 2*$h;
    }

    &.description-on-left {
      .description {
        margin-right: 2em;
      }
    }

    &.description-on-right {
      .description {
        margin-left: 2em;
      }
    }

    &.description-on-left,
    &.description-on-right {
      justify-content: flex-start;

      .description {
        width: 35%;
      }

      .boxes {
        align-items: center;
      }

      .boxes-wrapper {
        width: 65%;
      }

      &.smaller {
        .description {
          width: 65%;
        }

        .boxes-wrapper {
          width: 35%;
        }
      }

      .box {
        height: $h*1.2;
      }
    }
  }


  .boxes {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }

  .box {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: $green;

    >img,
    .text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    >a {
      @include transition(background-color);

      &:hover {
        background-color: transparentize($green, 0.6);
      }
    }

    >img {
      z-index: 4;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .text {
      z-index: 6;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      text-align: center;
      flex-direction: column;

      >div {
        $bg: transparentize($black, 0.6);
        background-color: $bg;
        padding: 1em;
        position: relative;
        font-size: 0.9em;
        color: $white;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;

    button {
      $c: rgba(0, 0, 0, 0.3);
      $h: rgba(0, 0, 0, 0.5);
      $s: 1em;
      $i: 0.9em;
      $t: 0.25em;
      width: $s;
      height: $s;
      padding: 0;
      background-color: transparent;
      border: 0;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        border-style: solid;
        border-color: transparent $c;
        @include transition(border left);

      }

      &:hover {

        &:before,
        &:after {
          border-color: transparent $h;
        }
      }

      &.play,
      &.pause {
        &:after {
          border: 0;
        }

        &:before {
          width: $i;
          height: $i;
          top: ($s - $i)/2;
          left: ($s - $i)/2;
        }
      }

      &.play:before {
        border-width: ($i/2) 0 ($i/2) $i;
      }

      &.pause:before {
        border-width: 0 $t;
      }

      &.prev,
      &.next {

        &:before,
        &:after {
          top: ($s - $i/2)/2;
          left: ($s - $i)/2;
          width: $i/2;
          height: $i/2;
        }

        &:hover:after,
        &:before {
          left: ($s - $i)/2;
        }

        &:hover:before,
        &:after {
          left: ($s - $i)/2 + $i/2;
        }
      }

      &.prev {

        &:before,
        &:after {
          border-width: $i/4 $i/2 $i/4 0;
        }
      }

      &.next {

        &:before,
        &:after {
          border-width: $i/4 0 $i/4 $i/2;
        }
      }
    }
  }
}
