#site-footer {
  color: $footerFg;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    box-sizing: border-box;
    top: -1.5em;
    height: 3em;
    border-top-width: 1.5em;
    border-bottom-width: 1.5em;
    border-right-width: 100vw;
    border-style: solid;
    border-color: transparent;
    border-right-color: $lightGreen;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 50%;
    box-sizing: border-box;
    top: -1.5em;
    height: 1.5em;
    border-top-width: 0.75em;
    border-bottom-width: 0.75em;
    border-left-width: 50vw;
    border-style: solid;
    border-color: transparent;
    border-left-color: $lightGreen;
    opacity: 0.5;
  }

  >div {
    @include wrapper($vPadding: $verticalPadding, $hPadding: $horizontalSectionPadding);
  }

  ul.menu {
    @media #{$firstBreakpointStr} {
      display: flex;
    }

    li {
      @media #{$firstBreakpointStr} {
        &:not(:first-child) {
          margin-left: 2em;
        }

      }

      @media #{$beforeFirstBreakpointStr} {
        padding: 0.5em 0;
      }

      a {
        padding: 0.2em 0;
        color: $footerFg;

        &.current {
          border-color: $lightGreen;
        }

        &:hover {
          border-color: $footerFg;
        }
      }
    }
  }
}
