#site-footer {
  background-color: $green;
  color: $white;
  position: relative;

  @include sectionDivider($green);

  >div {
    @include wrapper();
    margin-top: $horizontalSectionSpacing;
    margin-bottom: $headerPadding;
    display: flex;
    flex-direction: column;

    >div {
      display: flex;
      justify-content: space-between;
      margin-bottom: $horizontalPadding;

      @media #{$beforeFirstBreakpointStr} {
        flex-direction: column;
      }
    }
  }

  ul.menu {
    display: flex;

    li {
      @media #{$firstBreakpointStr} {
        &:not(:first-child) {
          margin-left: 2em;
        }

      }

      @media #{$beforeFirstBreakpointStr} {
        padding: 0.5em 0;
      }

      a {
        padding: 0.2em 0;
        color: $white;

        &.current {
          border-color: $lightGreen;
        }

        &:hover {
          border-color: $lightGreen;
        }
      }
    }

    &.icons li:not(:first-child) {
      margin-left: $verticalPadding;
    }

    &:not(.icons) {
      @media #{$beforeFirstBreakpointStr} {
        flex-direction: column;
      }

      margin-bottom: $horizontalPadding;
    }
  }
}

section.green+#site-footer {
  background-color: $darkGreen;
  @include sectionDivider($darkGreen);
}
