section.logo-grid.section {
  ul {
    @include noBullets();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
      padding: 0.7em;
      position: relative;
    }

    img {
      height: 100%;
      width: auto;
    }

    a {
      @include transition(scale);
      display: inline-block;
      height: 2.5em;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
