section.logo-grid.section {
  ul {
    @include noBullets();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
      padding: 0.7em;
    }

    img {
      height: 3em;
      width: auto;
    }
  }
}
