@mixin wrapper($width: $secondBreakpoint, $hPadding: $horizontalPadding, $vPadding: $verticalPadding) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
  padding-top: $hPadding;
  padding-bottom: $hPadding;
  padding-left: $vPadding;
  padding-right: $vPadding;
  padding-left: calc(#{$vPadding} + env(safe-area-inset-left));
  padding-right: calc(#{$vPadding} + env(safe-area-inset-right));
  box-sizing: border-box;
  overflow-x: hidden;
}

@mixin transition($what: all, $time: 0.1s, $fn: ease-in-out) {
  transition-property: $what;
  transition-duration: $time;
  transition-timing-function: $fn;
}

@mixin noBullets() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
