section.section {
  position: relative;


  >h2 {
    @include wrapper($hPadding: 0);
    margin-bottom: 0;
  }

  >div.wrapper {
    @include wrapper($hPadding: $horizontalSectionPadding);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .description,
  .boxes,
  .box {
    box-sizing: border-box;
    position: relative;
  }

  .box>a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
  }
}

@import "text-section";
@import "short-text-section";
@import "detail-boxes-section";
@import "logo-grid-section";
