section.section {
  position: relative;

  @include sectionDivider($white);

  @media #{$beforeFirstBreakpointStr} {
    .description+.boxes {
      margin-top: 3em;
    }
  }

  .description-above .description+.boxes {
    margin-top: 3em;
  }

  &.green {
    background-color: $green;
    @include sectionDividerColors($green);
  }

  &.dark-green {
    background-color: $darkGreen;
    @include sectionDividerColors($darkGreen);
  }

  &.green,
  &.dark-green {
    color: $white;

    a {
      color: $lightGreen;

      &:hover {
        color: $white;
      }
    }
  }

  &.light-green {
    background-color: $lightGreen;
    @include sectionDividerColors($lightGreen);
  }


  >h2 {
    @include wrapper($hPadding: 0);
    margin-bottom: 0;
    margin-top: $horizontalSectionSpacing;
    text-align: center;
  }

  >div.wrapper {
    @include wrapper();
    margin-top: $horizontalSectionSpacing;
    margin-bottom: $horizontalSectionSpacing;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@import "text-section";
@import "short-text-section";
@import "detail-boxes-section";
@import "logo-grid-section";
@import "hero-section";
