<section class="{{ .type }} section">
  {{ if not .hide_section_name }}{{ with .section_name -}}
  <h2>{{ . }}</h2>
  {{- end }}{{ end }}
  <div {{- if and (and .content .image) (eq .layout "image_on_right" ) }} class="image-on-right" {{- end }}>
    {{- with .image -}}
    {{- $img := resources.GetMatch . }}
    {{- $media := $img.MediaType.SubType -}}
    {{- if not (eq $media "svg") -}}
    {{- $img = $img.Fit "1000x1000 q75 webp" -}}
    {{- end -}}
    {{- $src := ($img | resources.Fingerprint "md5").RelPermalink -}}
    <div class="image">
      <img src="{{ $src }}">
    </div>
    {{ end -}}
    {{- with .content -}}
    <div class="text">
      {{ page.RenderString (dict "display" "block") . }}
    </div>
    {{- end }}
  </div>
</section>
