<!doctype html>
<html lang="{{ .Language.Lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>{{ .Title }}</title>
  {{ partial "stylesheet" . }}
  {{ partial "opengraph" . }}
  {{ partial "head-links" . }}
  {{- with .Site.Data.global_code.head_extra }}{{.}}{{ end }}
  {{- $code := index .Site.Data.code .Page.Language.Lang }}
  {{- with $code.head_extra }}{{.}}{{ end }}
  {{ block "head_extra" . -}}
  {{- with .Params.head_extra }}{{.}}{{ end }}
  {{- end }}
  <script src="https://unpkg.com/@hotwired/turbo@^8.0.4/dist/turbo.es2017-esm.js" type="module" async></script>
  {{ partial "favicons" . }}
</head>

<body class="{{ replace .Page.Type '-' ' ' }}-type">
  {{ partial "header" . }}
  <main id="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer" . }}
  {{- with .Site.Data.global_code.body_extra }}{{.}}{{ end }}
  {{- with $code.body_extra }}{{.}}{{ end }}
  {{ block "body_extra" . -}}
  {{- with .Params.body_extra }}{{.}}{{ end -}}
  {{- end }}
</body>

</html>
