<span>Main menu</span>
{{ partial "menu" (index .Site.Data.menus .Language.Lang).main }}
<span>Languages</span>
<ul>
  {{ range .Site.Sites }}
  {{ if eq site.Language.LanguageCode .Language.LanguageCode }}
  <li>{{ .Language.LanguageName }}</li>
  {{ else }}
  {{ $link := .Home.RelPermalink }}
  {{ $translation := where page.Translations ".Language.LanguageCode" .Language.LanguageCode }}
  {{ with index $translation 0 }}
  {{ $link = .RelPermalink }}
  {{ end }}
  <li><a href="{{ $link }}">{{ .Language.LanguageName }}</a></li>
  {{ end }}
  {{ end }}
</ul>
